html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import "layout";
@import "header-navbar";
@import "auth/sign-in.scss";
@import "auth/sign-up.scss";
